In [1]:
# Q1

In [4]:
 # the for statement iterates through a collection or iterable object or generator function.

 #The while statement simply loops until a condition is False.

 # for loop

l=[1,2,3,4,5,6]
l1=[]

for i in l:
    i=i**2
    l1.append(i)
print(l1)

[1, 4, 9, 16, 25, 36]

In [8]:
 # while lopp
# smallest power of 2 greater than 1000
power_of_two=1
while power_of_two <=500:
    power_of_two=power_of_two*2
    
print(power_of_two)

512

In [9]:
 # Q2.

In [12]:
# using for loop
sum_of_number=0
product_of_number=1
for i in range(1,11):
    sum_of_number=sum_of_number+i
    product_of_number=product_of_number*i
    
print("sum of the first 10 natural numbers is :",sum_of_number)
print("product of first 10 natural numbers is :",product_of_number)

sum of the first 10 natural numbers is : 55
product of first 10 natural numbers is : 3628800

In [14]:
# using while loop
sum_of_number=0
product_of_number=1
counter=1
while counter<=10:
    sum_of_number=sum_of_number+counter
    product_of_number=product_of_number*counter
    counter=counter+1
print("sum of the first 10 natural numbers is :",sum_of_number)
print("product of first 10 natural numbers is :",product_of_number)

sum of the first 10 natural numbers is : 55
product of first 10 natural numbers is : 3628800

In [15]:
# Q3.

In [2]:
unit_of_elec=int(input("enter your electricity unit/month : "))

if unit_of_elec<=100:
    
    bill_amount=unit_of_elec*4.5
    
elif unit_of_elec  <=200 :
    bill_amount= 100 * 4.5 + (unit_of_elec - 100) * 6
    
elif unit_of_elec <=300 :
    
    bill_amount= 100 * 4.5 + 100 * 6 + (unit_of_elec -200) * 10
    
else:
    bill_amount= 100*4.5 + 100 * 6 + 100 * 10 + (unit_of_elec - 300) * 20
    
print(bill_amount)

enter your electricity unit/month :  310

2250.0

In [37]:
# Q4.

In [40]:
l1=[]
for i in range(1,101):
    i=i**3
    if i % 4==0 or i % 5==0:
        l1.append(i)
print(l1)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [47]:
# using while loop
lis=1
l2=[]
while lis<=100:
    a=lis**3
    if a % 4==0 or a % 5==0:
        l2.append(a)
        
    lis=lis+1
    
    
print(l2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [48]:
# Q5.

In [50]:
string="I want to become a data scientist"
vowels="aeiouAEIOU"
count=0
for i in string:
    if i in vowels:
        count=count+1
        
print("number of vowels in string is :",count)

number of vowels in string is : 12